<!DOCTYPE html>
<html { overflow-y: scroll; overflow-x:hidden; } lang="en">
<head>
    {% block head %}
   {% endblock head %} 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf_token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title %}{% endblock title %} R.E.M.S</title>
    <style>
        footer {
          text-align: center;
          padding: 3px;
          background-color: #eee;
          color: white;
        }
        </style>
</head>

<body class="" style="background-color: #7395AE ">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Real Estate Management System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://localhost:8000/home/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/about/">About</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Property</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="http://localhost:8000/allprops/" >All Properties</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="http://localhost:8000/apart/" >Appartment</a></li>
                    <li><a class="dropdown-item" href="http://localhost:8000/if/" >Independent Floor</a></li>
                    <li><a class="dropdown-item" href="http://localhost:8000/bf/" >Builder Floor</a></li>
                    <li><a class="dropdown-item" href="http://localhost:8000/villa/">Villas</a></li>
                </ul>
              </li>

              
              
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/contact/">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/signup/">Logout</a>
              </li>
            </ul>
            <form class="d-flex" action="http://localhost:8000/adminlpage/" method="post">
              {% csrf_token %} {% load static %}
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name = 'ad'required/>
              <button class="btn btn-outline-success"  type="submit">Search</button>
              
            </form>
          </div>
        </div>
      </nav>

    {% block body %}
   {% endblock body %}   
   

</body>
</html>